# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. TensorFlow
3. Pandas
4. Scikit-learn
5. Ggplot

|Data Science Tools|
|------------|
|Jupyter Notebooks|
|Git|
|R Studio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
+ Jupyter Notebooks
+ Git
+ R Studio
+ Apache Hadoop

## Author
Rostyslav Protsiuk